.colswap {
    cursor: col-resize;
	user-select: none;
    background-color: rgb(104, 233, 50);
}

.dragging-col {
	cursor: col-resize;
}

.header {
    font-weight: bold;
    background-color: lightgray;
}

.drag-over {
    background-color: lightblue;
}

.drag-src {
    background-color: lightcoral;
}